<!--Start about us area-->
<section class="service-tab-section section">
    <div class="outer-box clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                      <h3>Facial</h3>
                      <br>
                    </div>
                    <!-- Nav tabs -->
                    <div class="tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#dormitory"  data-toggle="tab">Lifting</a>
                            </li>
                            <li role="presentation">
                                <a href="#orthopedic" data-toggle="tab">Dermoabración</a>
                            </li>
                            <li role="presentation">
                                <a href="#sonogram" data-toggle="tab">Peelings</a>
                            </li>
                        </ul>
                    </div>
                    <!--Start single tab content-->
                    <div class="tab-content">
                        <div class="service-box tab-pane fade in active row" id="dormitory">
                            <div class="col-md-6">
                                <img class="img-responsive" src="images/services/service-one.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Lifting</h3>
                                    </div>
                                    <div class="text">
                                        <p>The implant fixture is first placed, so that it ilikely to osseointegrate, then a dental prosthetic is added. then a
                                            dental prosthetic is added.then a dental pros- thetic is added.</p>
                                            <p>The implant fixture is first placed, so that it ilikely to osseointegrate, then a dental prosthetic is added. then a dental
                                                prosthetic is added.then a dental pros- thetic is added.</p>
                                    </div>
<!--                                     <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Whitening is among the most popular dental</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Teeth cleaning is part of oral hygiene and involves</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Teeth cleaning is part of oral hygiene and involves</li>
                                    </ul>
                                    <a href="#" class="btn btn-style-one">Read more</a> -->
                                </div>
                            </div>
                            <div>
                                
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="orthopedic">
                            <div class="col-md-6">
                                <img class="img-responsive" src="images/services/service-two.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Dermoabración</h3>
                                    </div>
                                    <div class="text">
                                        <p>The implant fixture is first placed, so that it ilikely to osseointegrate, then a dental prosthetic is added.
                                            then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                                        <p>The implant fixture is first placed, so that it ilikely to osseointegrate, then a dental prosthetic is added.
                                            then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                                    </div>
<!--                                     <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Whitening is among the most popular dental</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Teeth cleaning is part of oral hygiene and involves</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Teeth cleaning is part of oral hygiene and involves</li>
                                    </ul>
                                    <a href="#" class="btn btn-style-one">Read more</a> -->
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="sonogram">
                            <div class="col-md-6">
                                <img class="img-responsive" src="images/services/service-three.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Peelings</h3>
                                    </div>
                                    <div class="text">
                                        <p>The implant fixture is first placed, so that it ilikely to osseointegrate, then a dental prosthetic is added.
                                            then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                                        <p>The implant fixture is first placed, so that it ilikely to osseointegrate, then a dental prosthetic is added.
                                            then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                                    </div>
<!--                                     <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Whitening is among the most popular dental</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Teeth cleaning is part of oral hygiene and involves</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Teeth cleaning is part of oral hygiene and involves</li>
                                    </ul>
                                    <a href="#" class="btn btn-style-one">Read more</a> -->
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about us area-->